body{
  background:linear-gradient(to right,Cyan,Teal);
}
h1{
  text-align:center;
  box-shadow:6px 6px 20px gray;
  color:DarkSlateGrey;
}
.img{
  display:flex;
  justify-content:center;
}
img{
  border:3px solid Navy;
}